table#contatos {
  margin: 0 auto;
  border-collapse: collapse;
  font-family: Agenda-Light, sans-serif;
  font-weight: 100; 
  background: #333; color: #fff;
  text-rendering: optimizeLegibility;
  border-radius: 5px; 
    width: 100%;
}
table#contatos thead th { font-weight: 600; }
table#contatos thead th, table#contatos tbody td {
  padding: .8rem; font-size: 1.4rem;
}
table#contatos tbody td {
  padding: .8rem; font-size: 1.4rem;
  color: #444; background: #eee; 
  text-align: center;
}
table#contatos tbody tr:not(:last-child) {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;  
}

@media screen and (max-width: 600px) {
  table#contatos caption { background-image: none; }
  table#contatos thead { display: none; }
  table#contatos tbody td {
    display: block; padding: .6rem; 
  }
  table#contatos tbody tr td:first-child {
    background: #666; color: #fff; 
  }
	table#contatos tbody td:before {
    content: attr(data-th); 
    font-weight: bold;
    display: inline-block;
    width: 6rem;  
  }
}
